main
{
    /*Evita parte branca ao dar zoom out extremo*/
    min-height: 100vh;
}
.skill-card
{
    opacity: 90%;
    transition: transform 0.2s;
}
.game-card
{
    opacity: 90%;
    transition: transform 0.2s;
}
.game-card:hover
{
    opacity: 100%;
    transform: scale(1.02);
}
.contact-link
{
    opacity: 80%;
    transition: transform 0.2s;
}

.contact-link:hover
{
    opacity: 100%;
    transform: scale(1.01);
}
#dropdown-items
{
    opacity: 70%;
}
#dropdown-items:hover
{
    opacity: 100%;
}
.skill-card:hover
{
    opacity: 100%;
    transform: scale(1.02);
    cursor: pointer;
}

.game-card
{
    transition: .2s;
}
.game-card:hover
{
    transform: scale(1.01);
}

.caption-bg
{
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
}